:root {
  --board-border-width: calc(var(--square-size) / 40);
  --square-border-radius: calc(var(--square-size) / 8);
  --emoji-size: calc(var(--square-size) * 0.45);
}

html {
  touch-action: none;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  height: 100%;
}

body {
  margin: 0;
  background-color: #333;
  height: 100%;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#boardArea {
  position: relative;
}

.board {
  display: grid;
  pointer-events: all;
  background-color: green;
  border-radius: calc(var(--square-border-radius) + var(--board-border-width));
  border: var(--board-border-width) solid green;
}

.square {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  width: var(--square-size);
  height: var(--square-size);
  border: var(--board-border-width) solid green;
}

.square.top-left {
  border-top-left-radius: var(--square-border-radius);
}
.square.top-right {
  border-top-right-radius: var(--square-border-radius);
}
.square.bottom-left {
  border-bottom-left-radius: var(--square-border-radius);
}
.square.bottom-right {
  border-bottom-right-radius: var(--square-border-radius);
}

.square.selected,
.square.hovered {
  background-color: rgba(255, 255, 255, 0.5);
}

.emoji {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.25s ease-in;
  font-size: var(--emoji-size);
}
