:root {
  --square-size: min(
    calc(97vh / var(--board-height)),
    calc(97vw / var(--board-width))
  );
  --board-border-width: calc(var(--square-size) / 40);
  --square-border-radius: calc(var(--square-size) / 8);
  --emoji-size: calc(var(--square-size) * 0.45);
}

html {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  height: 100%;
}

body {
  margin: 0;
  background-color: #333;
  height: 100%;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#boardArea {
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-width), auto);
  grid-template-rows: repeat(var(--board-height), auto);
  border-radius: calc(var(--square-border-radius) + var(--board-border-width));
  border: var(--board-border-width) solid goldenrod;
}

.square {
  box-sizing: border-box;
  background-color: lightyellow;
  width: var(--square-size);
  height: var(--square-size);
  border: var(--board-border-width) solid goldenrod;
}

.square.top-left {
  border-top-left-radius: var(--square-border-radius);
}
.square.top-right {
  border-top-right-radius: var(--square-border-radius);
}
.square.bottom-left {
  border-bottom-left-radius: var(--square-border-radius);
}
.square.bottom-right {
  border-bottom-right-radius: var(--square-border-radius);
}

.square.selected,
.square.hovered {
  background-color: rgba(255, 255, 224, 0.175);
}

.emoji {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: var(--emoji-size);
  height: var(--emoji-size);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.emoji[data-emoji="0"] {
  background-image: url("./svg/apple.svg");
}
.emoji[data-emoji="1"] {
  background-image: url("./svg/watermelon.svg");
}
.emoji[data-emoji="2"] {
  background-image: url("./svg/orange.svg");
}
.emoji[data-emoji="3"] {
  background-image: url("./svg/grapes2.svg");
}
.emoji[data-emoji="4"] {
  background-image: url("./svg/pineapple.svg");
  height: calc(1.3 * var(--emoji-size));
}
.emoji[data-emoji="bomb"] {
  background-image: url("./svg/bomb2.svg");
}
