html {
  touch-action: none;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  background-color: #333;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#boardArea {
  position: relative;
}

.board {
  display: grid;
  pointer-events: all;
  background-color: green;
  border-radius: 1.75vmin;
  border: 0.375vmin solid green;
}

.square {
  background-color: rgba(255, 255, 255, 0.8);
  width: 16vmin;
  height: 16vmin;
  border: 0.375vmin solid green;
}

.square.top-left {
  border-top-left-radius: 1.5vmin;
}
.square.top-right {
  border-top-right-radius: 1.5vmin;
}
.square.bottom-left {
  border-bottom-left-radius: 1.5vmin;
}
.square.bottom-right {
  border-bottom-right-radius: 1.5vmin;
}

.square.selected,
.square.hovered {
  background-color: rgba(255, 255, 255, 0.5);
}

.emoji {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.25s ease-in;
  font-size: 9vmin;
}
